@media only screen and (min-width: 768px) { <<<large
 #logo-1 { display: block; }
 #logo-2 { display: none; }
 }

 @media only screen and (min-width: 480px) and (max-width: 767px) { <<<medium
 #logo-1 { display: none; }
 #logo-2 { display: block; }
 }

 @media only screen and (max-width: 479px) { <<<small
 #logo-1 { display: none; }
 #logo-2 { display: block; } 
 }